.main {
    color: darkblue;
    margin-top: 45px;
    margin-left: 200px;
}

.home{
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    height: 900px;
}

.img-body{
    max-width: 100%;
    max-height: 100%;
}

.list {
    display: flex;
    flex-direction: column;
    font-size: 25px;
    width: auto;
}

.category-header {
    font-size: 20px;
    display: flex;
    justify-content: center;
}

.dropdown {
    display: flex;
    align-items: center;
}


.contacts {
    color: white;
    font-size: 25px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: auto;
    margin-right: 55px;
}

.btn-order {
    width: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-search {
    height: 35px;
    margin-right: 7px;
    margin-left: 7px;
    border-radius: 5px;
    border: none;
}

.btn-search {
    display: flex;
    align-items: center;
    background-color: forestgreen;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    height: 35px
}

.search {
    height: 35px;
    background-color: white;
    border-radius: 15px;
    padding-left: 7px;
    display: flex;
    align-items: center;
    margin: 0 auto;

}

.btn-sing-in {
    padding: 5px;
    width: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-home {
    margin-left: 15px;
}


.margin-left {
    margin-left: 7px;
    font-size: 25px;
}

.nav-item:hover {
    background-color: lightgrey;
}

.pay{
    display: flex;
}

.img-nav{
    display: flex;
    justify-content: center;
}

.nav-item {
    width: 176px;
    display: flex;
    justify-content: center;
}

.img-nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75px;
    height: auto;
    font-size: 35px;
}

.bi-bicycle {
    font-size: 35px;
    width: 195px;
}


.dropdown-menu {
    background-color: gainsboro;
    min-width: 198px;
}

.content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.modal-title {
    font-size: 25px;
    color: black;
}

.modal-header {
    background-color: darkgrey;
    height: 30px;
}

.modal-footer {
    justify-content: space-between;
}


.img-list {
    width: 95px;
    margin-top: 7px;
}

.modal-order {
    overflow: auto;
    position: relative;
    margin-top: 7px;
}

.modal-content {
    height: 480px;
    width: 660px;
    display: flex;
    justify-content: space-between;
}

.background-shop {
    background-color: gainsboro;
}

.header {
    background-color: grey;
    display: flex;
    position: fixed;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 45px;
    top: 0;
    left: 0;
    z-index: 2;
}

.footer {
    display: flex;
    justify-content: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: aqua;
}

.modal-price {
    color: black;
    padding: 15px;
    background-color: forestgreen;
    height: 35px;
    display: flex;
    align-items: center;
    border-radius: 7px;
}

.sing-in-form {
    border-radius: 15px;
    background-color: whitesmoke;
    text-align: center;
    margin: 75px auto;
    padding: 15px;
    width: 350px;
}

.btn-login {
    margin-top: 15px;
}

.description-list {
    width: 350px;
}

.order-tabs {
    background-color: lightgrey;
}


.count{
    color: forestgreen;
}

.price {
    font-size: 25px;
    color: red;
}

.product{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 75px 35px 35px;
}

.card{
    margin-bottom: 15px;
    padding-bottom: 37px;
}

.card-img-top{
    width: 275px;
    height: 220px;
}

.card-footer{
    display: flex;
    justify-content: space-around;
    align-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: baseline;
}

.card-body{
    width: 275px;
    height: 220px;
}

.add-to-cart:hover{
    background-color: forestgreen;
    color: black;
}

.add-to-cart:active{
    background-color: white;
}

.add-to-cart{
    width: 95px;
    height: 45px;
}

.cart-product{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    text-align: center;
    font-size: 17px;
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom: 15px;
}

.total{
    width: 42px;
}

.plus .minus {
    padding: 0;
}

.test{
    color: #0000FF;
}